.sec4-container {
    height: 17vw;
    width: 100%;
    background-color:  hsl(12, 39%, 33%);
    color: white;
    padding: 3vw 5vw;
}

.sec4-container h1 {
    padding-bottom: 1.5vw;
    font-size: 3.2vw;
}

.sec4-container p {
    font-size: 1.6vw;
    padding-bottom: 1.5vw;
}