.hero {
    width: 100%;
    height: 80vh;
    background-color: #F4E6D0;
    display: flex;
    justify-content: space-between;
}

.hero--left {
    margin-top: 15vw;
    padding-left: 5vw;
}

.hero--left h1 {
    padding-bottom: 2vw;
    font-size: 4vw;
}

.hero--left h3 {
    padding-bottom: 2vw;
    font-size: 1.8vw;
}

.hero--right img {
    margin-top: 9vw;
    height: 26vw;
    width: 32vw;
    margin-right: 2vw;
    border: 1.5px solid #764134;
    border-radius: 0.5vw;
}